@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cuprum:wght@400;600&display=swap");
:root {
  --fontSize-s: 16px;
  --fontSize-m: 20px;
  --fontSize-l: 24px;
  --fontSize-xl: 32px;
  --size-s: 10px;
  --size-m: 20px;
  --size-l: 40px;
  --size-xl: 60px;
}

input[type=radio] {
  display: none;
}

.accent {
  color: #ccb116;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: var(--size-s);
}

.listMarker {
  width: var(--size-xl);
  height: var(--size-xl);
  margin-right: var(--size-m);
}

html {
  scroll-behavior: smooth;
}

body {
  background: url("../../resources/img/pattern.jpg");
  background-size: 20%;
  color: #5a4b0f;
}

main {
  max-width: 1000px;
  min-width: 320px;
  margin: var(--size-l) auto;
  font-family: "Cuprum", sans-serif;
  font-size: var(--fontSize-m);
}

article {
  overflow: hidden;
  background-color: white;
}

.card {
  padding: var(--size-m);
  background: white;
  -webkit-box-shadow: 0 0 15px #1f0930;
          box-shadow: 0 0 15px #1f0930;
  border-radius: var(--size-s);
  outline-offset: -10px;
  outline: 1px solid #c12cbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.packagePromo {
  position: relative;
  border-radius: var(--size-m) var(--size-m) 0 0;
  background-color: transparent;
}
.packagePromo__header {
  margin-top: var(--size-m);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15vmin;
}
.packagePromo__logo {
  height: 100%;
  width: auto;
}
.packagePromo__content {
  padding: var(--size-s) var(--size-l) var(--size-xl) var(--size-l);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: var(--size-xl);
}
.packagePromo__image {
  -webkit-filter: drop-shadow(var(--size-s) var(--size-m) var(--size-m) shadow);
          filter: drop-shadow(var(--size-s) var(--size-m) var(--size-m) shadow);
  width: 40vmin;
  min-width: 100px;
  margin: auto;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.packagePromo__image:hover, .packagePromo__image:focus, .packagePromo__image:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}
.packagePromo__info {
  margin: var(--size-l);
  padding: var(--size-l);
}
.packagePromo__list {
  width: auto;
  margin-bottom: var(--size-s);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.packagePromo__videoWrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.packagePromo__footage {
  margin: auto;
  position: absolute;
  z-index: -1;
}
.packagePromo__wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.composition {
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, from(#d1cfd8), to(white));
  background: linear-gradient(0deg, #d1cfd8 0%, white 100%);
  padding: var(--size-l);
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr 1fr;
  grid-template-columns: 1fr 1.5fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: ". a ." ". a ." ". a .";
}
.composition__main {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: a;
  margin: auto;
}
.composition__productImage {
  width: 30vmin;
  min-width: 100px;
  margin-bottom: var(--size-l);
  -webkit-filter: drop-shadow(var(--size-s) var(--size-m) var(--size-m) shadow);
          filter: drop-shadow(var(--size-s) var(--size-m) var(--size-m) shadow);
}
.composition__component {
  color: #c12cbb;
  margin: var(--size-m);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition-property: color, outline, background-color;
  transition-property: color, outline, background-color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.composition__component:hover .composition__componentImage {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-box-shadow: 0 0 15px #1f0930;
          box-shadow: 0 0 15px #1f0930;
}
.composition__component:hover {
  background-color: #d1cfd8;
  outline: 1px solid #1f0930;
  color: #1f0930;
}
.composition__componentImage {
  width: 100%;
  height: auto;
  border-radius: 50%;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.composition__componentTitle {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: var(--size-s);
}

.reviews {
  width: 100%;
  height: 60vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding: var(--size-l);
  background: #d1cfd8;
  background: radial-gradient(circle, #c12cbb 0%, #d1cfd8 50%);
}
.reviews__reviewCard {
  padding: var(--size-l) var(--size-m);
  position: absolute;
  width: 40%;
  top: var(--size-m);
  bottom: var(--size-m);
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  cursor: pointer;
  overflow: hidden;
}
.reviews__clientPhoto {
  border-radius: 50%;
  width: 60%;
}
.reviews__autor {
  color: #c12cbb;
  font-size: var(--fontSize-l);
  margin: var(--fontSize-m);
}
.reviews__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  color: #1f0930;
  margin: auto var(--fontSize-m);
  text-align: center;
}
.reviews #item-1:checked ~ .reviews__cards #card-3,
.reviews #item-2:checked ~ .reviews__cards #card-1,
.reviews #item-3:checked ~ .reviews__cards #card-2 {
  -webkit-transform: translatex(-60%) scale(0.8);
          transform: translatex(-60%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
.reviews #item-1:checked ~ .reviews__cards #card-2,
.reviews #item-2:checked ~ .reviews__cards #card-3,
.reviews #item-3:checked ~ .reviews__cards #card-1 {
  -webkit-transform: translatex(60%) scale(0.8);
          transform: translatex(60%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
.reviews #item-1:checked ~ .reviews__cards #card-1,
.reviews #item-2:checked ~ .reviews__cards #card-2,
.reviews #item-3:checked ~ .reviews__cards #card-3 {
  -webkit-transform: translatex(0) scale(1);
          transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.personPromo {
  padding: var(--size-l);
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#d1cfd8));
  background: linear-gradient(0deg, white 0%, #d1cfd8 100%);
}
.personPromo__list {
  margin-top: var(--fontSize-xl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.personPromo__list li {
  margin: var(--fontSize-m);
}
.personPromo__container {
  position: relative;
  background: url(../../resources/img/doctor.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center left;
}
.personPromo__content {
  padding: var(--size-l);
  margin-left: 40%;
}
.personPromo__description {
  margin-bottom: var(--size-l);
}

.orderForm {
  background: none;
  position: relative;
}
.orderForm__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
}
.orderForm__wave {
  -webkit-transform: scale(-1);
          transform: scale(-1);
  position: absolute;
  top: -10px;
  width: 100%;
}
.orderForm__logo {
  margin-top: 15vh;
  height: 100%;
  width: auto;
  z-index: 1;
  -webkit-filter: drop-shadow(0 0 var(--size-l) #ccb116);
          filter: drop-shadow(0 0 var(--size-l) #ccb116);
}
.orderForm__timer {
  margin: var(--size-l);
  margin-top: 10vh;
  border-radius: var(--size-m);
  background: #c12cbb;
  background: -webkit-gradient(linear, left bottom, left top, from(#c12cbb), to(#ccb116));
  background: linear-gradient(0deg, #c12cbb 0%, #ccb116 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  height: var(--size-xl);
  font-size: var(--fontSize-xl);
}
.orderForm__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  padding: 0 var(--size-l);
}
.orderForm__image {
  width: 80%;
  background: url("../../resources/img/prod2.png");
  margin: 10%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: drop-shadow(-5px 7px var(--size-m) #ccb116);
          filter: drop-shadow(-5px 7px var(--size-m) #ccb116);
}
.orderForm__info {
  width: 100%;
  padding: var(--size-l) var(--size-m);
}
.orderForm__oldPrice {
  font-size: calc(var(--size-m) * 1.5);
  position: relative;
  margin-bottom: var(--size-m);
}
.orderForm__oldPrice::after {
  content: "";
  display: block;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: url("../../resources/svg/oldPrice.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.orderForm__newPrice {
  color: #1f0930;
  padding: var(--size-s) var(--size-m);
  font-weight: 600;
  font-size: calc(var(--size-xl) * 1.5);
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 251, 23, 0.22);
            box-shadow: 0 0 0 0 rgba(255, 251, 23, 0.22);
    background-color: rgba(255, 221, 28, 0.46);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 var(--size-l) rgba(193, 44, 187, 0);
            box-shadow: 0 0 0 var(--size-l) rgba(193, 44, 187, 0);
    background-color: rgba(193, 44, 187, 0);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(193, 44, 187, 0);
            box-shadow: 0 0 0 0 rgba(193, 44, 187, 0);
    background-color: rgba(193, 44, 187, 0);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 251, 23, 0.22);
            box-shadow: 0 0 0 0 rgba(255, 251, 23, 0.22);
    background-color: rgba(255, 221, 28, 0.46);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 var(--size-l) rgba(193, 44, 187, 0);
            box-shadow: 0 0 0 var(--size-l) rgba(193, 44, 187, 0);
    background-color: rgba(193, 44, 187, 0);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(193, 44, 187, 0);
            box-shadow: 0 0 0 0 rgba(193, 44, 187, 0);
    background-color: rgba(193, 44, 187, 0);
  }
}
.orderForm__form {
  padding: var(--size-l) var(--size-m);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  row-gap: var(--size-m);
}
.orderForm__label {
  color: #1f0930;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.orderForm__input {
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.orderForm__input > input[type=text]:focus-within:-moz-placeholder-shown + p, .orderForm__input input[type=number]:focus-within:-moz-placeholder-shown + p {
  display: block;
}
.orderForm__input > input[type=text]:focus-within:-ms-input-placeholder + p, .orderForm__input input[type=number]:focus-within:-ms-input-placeholder + p {
  display: block;
}
.orderForm__input > input[type=text]:focus-within:placeholder-shown + p,
.orderForm__input input[type=number]:focus-within:placeholder-shown + p {
  display: block;
}
.orderForm__inputHelp {
  display: none;
  opacity: 0.8;
  border-radius: 0 0 var(--size-s) var(--size-s);
  padding: 2px 4px;
  margin-right: var(--size-m);
  background-color: #ccb116;
  color: #5a4b0f;
  font-size: var(--fontSize-s);
  position: absolute;
  right: 0;
  top: 0;
}
.orderForm input[type=text],
.orderForm [type=number] {
  padding: var(--size-s) var(--size-m);
  border-radius: var(--size-m);
  margin-left: var(--size-s);
  outline: 1px solid #c12cbb;
  color: #1f0930;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: outline;
  transition-property: outline;
}
.orderForm input[type=text]:focus,
.orderForm [type=number]:focus {
  outline: 1px solid #ccb116;
}

.orderButton {
  font-weight: 600;
  font-size: var(--fontSize-xl);
  color: white;
  padding: var(--size-s) var(--size-l);
  border-radius: var(--size-m);
  background: #c12cbb;
  background: -webkit-gradient(linear, left top, right top, from(#c12cbb), to(#1f0930));
  background: linear-gradient(90deg, #c12cbb, #1f0930);
  outline-offset: -5px;
  outline: 1px solid white;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.orderButton:hover, .orderButton:focus, .orderButton:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  outline-offset: -5px;
  outline: 1px solid white;
}

@media (max-width: 650px) {
  :root {
    --fontSize-s: 12px;
    --fontSize-m: 15px;
    --fontSize-l: 18px;
    --fontSize-xl: 24px;
    --size-s: 7px;
    --size-m: 14px;
    --size-l: 24px;
    --size-xl: 32px;
  }
  body {
    background-size: 25%;
  }
  .reviews {
    width: 100%;
    height: 45vh;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    padding: var(--size-l);
    background: #d1cfd8;
    background: radial-gradient(circle, #c12cbb 0%, #d1cfd8 50%);
  }
  .reviews__reviewCard {
    padding: var(--size-l) var(--size-m);
    position: absolute;
    width: 60%;
    top: var(--size-m);
    bottom: var(--size-m);
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    cursor: pointer;
    overflow: hidden;
  }
  .reviews #item-1:checked ~ .reviews__cards #card-3,
.reviews #item-2:checked ~ .reviews__cards #card-1,
.reviews #item-3:checked ~ .reviews__cards #card-2 {
    -webkit-transform: translatex(-35%) scale(0.8);
            transform: translatex(-35%) scale(0.8);
  }
  .reviews #item-1:checked ~ .reviews__cards #card-2,
.reviews #item-2:checked ~ .reviews__cards #card-3,
.reviews #item-3:checked ~ .reviews__cards #card-1 {
    -webkit-transform: translatex(35%) scale(0.8);
            transform: translatex(35%) scale(0.8);
  }
  .personPromo__container {
    background-size: 50%;
    background-position: center left;
  }
  .personPromo__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*
  .personPromo {
    &__list {
      flex-direction: column;
    }
    &__container {
      padding-top: 100%;
      background-size: 90%;
      background-position: top center;
    }
    &__content {
      margin-left: 0%;
    }
  }
  .orderForm {
    &__content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    &__image {
      width: 100%;
      margin: var(--size-l) 0;
    }
    &__info {
      padding: var(--size-xl) var(--size-m);
    }
  }*/
}
@media (max-width: 650px) and (max-width: 480px) {
  body {
    background-size: 40%;
  }
  .packagePromo__image {
    display: none;
  }
  .composition {
    position: relative;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr auto;
    grid-template-rows: 1fr 1fr auto;
        grid-template-areas: " . . ." ". . ." "a a a";
  }
  .composition__productImage {
    display: none;
  }
  .composition__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: var(--size-l);
  }
  .composition__component {
    z-index: 1;
  }
  .personPromo__container {
    padding-top: 100%;
    background-size: 90%;
    background-position: top center;
  }
  .personPromo__content {
    margin-left: 0%;
  }
  .orderForm__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .orderForm__content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .orderForm__content > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .orderForm__image {
    width: 100%;
    margin: var(--size-l) 0;
  }
  .orderForm__info {
    padding: var(--size-xl) var(--size-m);
  }
  .composition__main {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
/*
@media (max-width: 750px) {
  :root {
    --fontSize-s: 12px;
    --fontSize-m: 15px;
    --fontSize-l: 18px;
    --fontSize-xl: 24px;

    --size-s: 7px;
    --size-m: 14px;
    --size-l: 24px;
    --size-xl: 32px;
  }

  .reviews {
    &__reviewCard {
      width: 60%;
    }
    #item-1:checked ~ .reviews__cards #card-3,
    #item-2:checked ~ .reviews__cards #card-1,
    #item-3:checked ~ .reviews__cards #card-2 {
      transform: translatex(-30%) scale(0.8);
    }
    #item-1:checked ~ .reviews__cards #card-2,
    #item-2:checked ~ .reviews__cards #card-3,
    #item-3:checked ~ .reviews__cards #card-1 {
      transform: translatex(30%) scale(0.8);
    }
  }

  .packagePromo {
    &__footage {
      display: none;
    }
    background: url("../../resources/video/footagePromo.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
}*/
/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/